# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
array=np.random.randint(10000000,size=5)
data = {'國家':['美國','澳洲','巴西','英國','加拿大'] ,
        '人口':array }

df=pd.DataFrame(data)
df

    國家       人口
0   美國  1352174
1   澳洲  9210967
2   巴西  7145743
3   英國  3005274
4  加拿大  3691427

In [3]:
new_df=df.groupby('人口', as_index=False)['國家'].max()
print(new_df)
new_df.iloc[4,[0,1]]

        人口   國家
0  1352174   美國
1  3005274   英國
2  3691427  加拿大
3  7145743   巴西
4  9210967   澳洲

人口    9210967
國家         澳洲
Name: 4, dtype: object